.nav {
  width: 100%;
  height: 100%;
  padding: 3.2rem;
}

.nav-flex-wrapper {
  width: 100%;
  background: var(--secondarybg);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  border-radius: 10px;
  padding: 3rem 0;
  border-right: 1px solid rgba(255, 255, 255, 0.3);
}

.icon-list,
.nav-icons-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.nav-logo-div {
  margin-bottom: 7.5rem;
  cursor: pointer;
  position: relative;
}

/* .nav-logo-div {
  position: relative;
  border: 3px solid green;
} */

.nav-logo-div:hover::after {
  content: "Logout";
  color: var(--primarycolor);
  position: absolute;
  z-index: 5;
  top: 1rem;
  left: -1rem;
}

.icon-list {
  height: 20rem;
}

.icon-item {
  cursor: pointer;
  transition: 0.2s;
}

.icon-item:hover {
  transform: rotate(10deg) translateX(-0.5rem);
}

.icon-item:hover svg path {
  fill: var(--red);
}

.highlight svg path {
  fill: var(--white);
}

.avatar-img-div {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s ease;
}

.avatar-img {
  height: 100%;
  width: 100%;
}

.avatar-img-div:hover {
  box-shadow: 2px 3px 15px var(--secondarycolor);
}

.avatar-img:hover {
  filter: hue-rotate(90deg);
}

@media screen and (max-width: 768px) {
  .nav {
    padding: 2.4rem;
  }

  .nav-flex-wrapper,
  .icon-list,
  .nav-icons-column {
    flex-direction: row;
    justify-content: space-between;
  }

  .nav-flex-wrapper {
    padding: 0 2rem;
  }

  .nav-logo-div {
    margin-bottom: 0;
    margin-right: 2rem;
  }

  .nav-icons-column {
    width: 65%;
  }

  .icon-list {
    width: 17.2rem;
  }

  .icon-item:hover {
    transform: rotate(-3deg) translateY(-0.5rem);
  }

  .cubespinner {
    display: none;
  }
}

@media screen and (max-width: 425px) {
  .nav {
    padding: 0rem;
  }

  .nav-flex-wrapper {
    padding: 1rem;
  }
  .nav-icons-column {
    width: 75%;
  }
}

.cubespinner {
  animation-name: spincube;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 12s;
  transform-style: preserve-3d;
  transform-origin: 25px 25px 0;
  margin-left: calc(50% - 25px);
}

.cubespinner div {
  position: absolute;
  width: 50px;
  height: 50px;
  border: 1px solid var(--primarycolor);
  background: var(--bgprimary);
  text-align: center;
  font-size: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 5px 0px var(--secondarycolor);
  /* animation: glow 20s infinite; */
}

.cubespinner div * {
  z-index: 5;
}

.cubespinner div::after {
  position: absolute;
  height: 100%;
  width: 100%;
  background: var(--primarybg);
  content: "";
  top: 0;
  left: 0;
  opacity: 75%;
}

.logo-img {
  height: 100%;
  width: 100%;
  opacity: 50%;
}

.face1 {
  transform: translateZ(25px);
}
.face2 {
  transform: rotateY(90deg) translateZ(25px);
}
.face3 {
  transform: rotateY(90deg) rotateX(90deg) translateZ(25px);
}
.face4 {
  transform: rotateY(180deg) rotateZ(90deg) translateZ(25px);
}
.face5 {
  transform: rotateY(-90deg) rotateZ(90deg) translateZ(25px);
}
.face6 {
  transform: rotateX(-90deg) translateZ(25px);
}

@keyframes glow {
  from,
  to {
    box-shadow: 0 0 5px 0px var(--secondarycolor);
  }
  16% {
    box-shadow: 0 0 65px 0px var(--secondarycolor);
  }
  33% {
    box-shadow: 0 0 10px 0px var(--secondarycolor);
  }
  50% {
    box-shadow: 0 0 45px 0px var(--secondarycolor);
  }
  66% {
    box-shadow: 0 0px 5px 0px var(--secondarycolor);
  }
  83% {
    box-shadow: 0 0 25px 0px var(--secondarycolor);
  }
}

@keyframes spincube {
  from,
  to {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  16% {
    transform: rotateY(-90deg) rotateZ(90deg);
  }
  33% {
    transform: rotateY(-90deg) rotateX(90deg);
  }
  50% {
    transform: rotateY(-180deg) rotateZ(90deg);
  }
  66% {
    transform: rotateY(-270deg) rotateX(90deg);
  }
  83% {
    transform: rotateX(90deg);
  }
}
